.contact-wrapper {
    margin: 6em 3em;
    .map {
        margin-bottom: 1em;
    }
    .contact-container {
        margin: 5em;
        #contact-info {
            .contact-box {
                padding: 25px;
                margin-bottom: 30px;
                border: 3px solid #eaeaea;
                min-width: 200px;
                .icon-box {
                    background: #ffffff;
                    float: left;
                    width: 80px;
                    margin-right: 40px;
                    margin-top: -65px;
                    color: #adadad;
                    height: 60px;
                    padding: 0 10px;
                }
                .contact-inner {
                    margin-top: 15px;
                }
            }
        }
        #contact-form {
            min-width: 350px;
            form#application-form {
                .field {
                    .control {
                        input {
                            height: 2.75em;
                            &::placeholder { /* Firefox 19+ */
                              color: #363636;
                            }
                            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                              color: #363636;
                            }
                            &:-moz-placeholder { /* Firefox 19+ */
                              color: #363636;
                            }
                            &:-ms-input-placeholder { /* IE 10+ */
                              color: #363636;
                            }
                        }
                        .select {
                            width: 100%;
                            select {
                                width: 100%;
                                height: 2.75em;
                            }
                        }
                    }    
                }
            }
        }
    }
}